@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*
Quicksand Font Styles
<weight>: Use a value from 300 to 700 
*/
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-500 {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-600 {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/*
Raleway Font Styles
<weight>: Use a value from 100 to 900
*/
.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-500 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Shared Styles */
:root {
    --body-bg: #F7F7F7;

    --btn-bg-primary: #FEA301;
    --btn-bg-secondary: #111111;
    --btn-txt-primary: #FFFFFF;

    --heading-txt-primary: #111111;
    --heading-txt-secondary: #FFFFFF;

    --paragraph-txt-primary: #111111;
    --paragraph-txt-secondary: #808080;
    --paragraph-txt-tertiary: #666666;
    --paragraph-txt-quaternary: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-bg);
}

.btn-primary {
    padding: 9.43px 57.052px;
    border: none;
    border-radius: 11.316px;
    background-color: var(--btn-bg-primary);
    color: var(--btn-txt-primary);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
}

.btn-secondary {
    padding: 9.43px 44.321px;
    border: none;
    border-radius: 11.316px;
    background-color: var(--btn-bg-secondary);
    color: var(--btn-txt-primary);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
}

.btn-tertiary {
    border: none;
    background: none;
    font-family: Quicksand;
    font-size: 0.943rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875;
    cursor: pointer;
}

h1, h2, h3, h4 {
    color: var(--heading-txt-primary);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 2.875rem;
    line-height: 1.25;
}

/* Header Styles */

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1093.88px;
    padding: 18.86px 20px;
    margin: 0 auto;
}

nav .brand {
    display: flex;
    gap: 10.373px;
    align-items: center;
}

nav .brand .logo {
    width: 58.466px;
}

nav .brand .logo img {
    width: 100%;
    vertical-align: middle;
}

nav .brand h2 {
    font-size: 2rem;
    line-height: 0.938;
    text-transform: uppercase;
}

nav .navlink-container {
    display: flex;
    gap: 30.176px;
    list-style-type: none;
    font-size: 1.25rem;
    line-height: 1.5;
}

nav .navlink-container .navlink a {
    text-decoration: none;
}

nav .navlink-container .navlink:first-of-type a {
    color: #FEA301;
}

nav .navlink-container .navlink:nth-of-type(2) a {
    color: #01ACFD;
}

nav .navlink-container .navlink:nth-of-type(3) a {
    color: #05D4DF;
}

nav .navlink-container .navlink:last-of-type a {
    color: #5D58EF;
}

nav .menu {
    display: none;
    width: 30px;
}

nav .menu img {
    width: 100%;
    vertical-align: middle;
}

@media only screen and (max-width: 575.999px) {
    nav {
        max-width: 100%;
        padding: 12px 16px;
        border: 0.5px solid #FEA301;
    }

    nav .brand .logo {
        width: 46px;
    }

    nav .brand h2 {
        display: none;
    }

    nav .navlink-container {
        display: none;
    }

    nav .contact-btn {
        display: none;
    }

    nav .menu {
        display: block;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991.999px) {
    nav {
        gap: 40px;
        max-width: calc(100% - 32px);
        padding: 12px 0;
    }
    
    nav .brand h2 {
        display: none;
    }
}

/* Marquee Styles */
marquee {
    padding: 16px 0;
    color: red;
    font-size: 1.25rem;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47.15px;
    max-width: 1093.88px;
    padding: 0 20px;
    margin: 0 auto;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22.632px;
    width: 603.52px;
}

.banner .banner-content .banner-title {
    font-size: 3.5rem;
    line-height: 1.089;
}

.banner .banner-content .banner-title span:first-of-type {
    color: #FEA301;
}

.banner .banner-content .banner-title span:last-of-type {
    color: #01ACFD;
}

.banner .banner-content .banner-description {
    color: var(--paragraph-txt-primary);
    font-size: 1.25rem;
}

.banner .banner-img {
    width: 441.897px;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

@media only screen and (max-width: 575.999px) {
    .banner {
        flex-direction: column-reverse;
        gap: 20px;
        margin-bottom: 20px;
    }

    .banner .banner-content {
        align-items: center;
        gap: 18px;
        width: calc(100% - 16px);
        text-align: center;
    }

    .banner .banner-content .banner-title {
        font-size: 2rem;
    }

    .banner .banner-content .banner-description {
        font-size: 0.875rem;
    }

    .banner .banner-content .banner-cta {
        padding: 6px 24px;
        border-radius: 8px;
        font-size: 1rem;
    }

    .banner .banner-img {
        width: calc(100% - 26.21px);
    }
}

@media only screen and (min-width: 576px) and (max-width: 991.999px) {
    .banner {
        flex-direction: column-reverse;
        gap: 20px;
        margin-bottom: 20px;
    }

    .banner .banner-content {
        align-items: center;
        gap: 18px;
        width: calc(100% - 16px);
        text-align: center;
    }

    .banner .banner-img {
        width: 60%;
    }
}

/* Main Styles */

/* Curriculum Section Styles */
.curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75.44px;
    padding: 56.58px 20px;
    background-image: url("../assets/bg.png");
    background-size: 100% auto;
    text-align: center;
}

.curriculum .card-container {
    display: flex;
    justify-content: center;
    gap: 26.677px;
    flex-wrap: wrap;
    max-width: 1093.88px;
}

.curriculum .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30.242px;
    box-sizing: border-box;
    width: 346.84px;
    padding: 49.809px 38.38px;
    border-radius: 17.789px;
    box-shadow: 0px 0px 28.296px rgba(0, 0, 0, 0.05) inset;
}

.curriculum .card-container .card:first-of-type {
    border: 0.889px solid #DEF5FF;
    background-image: linear-gradient(180deg, #DEF5FF, #FFF 40%);
}

.curriculum .card-container .card:nth-of-type(2) {
    border: 0.889px solid #FFF4DC;
    background-image: linear-gradient(180deg, #FFF4DC, #FFF 40%);
}

.curriculum .card-container .card:last-of-type {
    border: 0.889px solid #EEE1FF;
    background-image: linear-gradient(180deg, #EEE1FF, #FFF 40%);
}

.curriculum .card-container .card .card-img {
    height: 128.968px;
}

.curriculum .card-container .card .card-img img {
    height: 100%;
    vertical-align: middle;
}

.curriculum .card-container .card .card-title {
    font-size: 1.533rem;
    line-height: 1.25;
}

.curriculum .card-container .card .card-description {
    color: var(--paragraph-txt-secondary);
    font-size: 0.943rem;
    line-height: 1.875;
}

.curriculum .card-container .card .more-btn a {
    text-decoration: none;
}

.curriculum .card-container .card:first-of-type .more-btn a {
    color: #64C8FF;
}

.curriculum .card-container .card:nth-of-type(2) .more-btn a {
    color: #F0AA00;
}

.curriculum .card-container .card:last-of-type .more-btn a {
    color: #8700FF;
}

.curriculum .slider-btn button {
    padding: 16.974px;
    border: none;
    border-radius: 50%;
    margin-right: 9.43px;
    background-color: #FEA301;
    cursor: pointer;
    transition: background-color 0.5s;
}

.curriculum .slider-btn button:hover {
    background-color: #111111;
}

.curriculum .slider-btn button img {
    vertical-align: middle;
}

@media only screen and (max-width: 575.999px) {
    .curriculum {
        gap: 20px;
        padding: 40px 0;
        background-size: 100% auto;
    }

    .curriculum .title {
        font-size: 1.625rem;
    }

    .curriculum .card-container {
        flex-direction: column;
        align-items: center;
        gap: 12.3px;
        width: 100%;
    }

    .curriculum .card-container .card {
        gap: 22px;
        width: 92%;
        padding: 36px 81.59px;
    }

    .curriculum .card-container .card .card-title {
        font-size: 1.038rem;
    }

    .curriculum .card-container .card .card-description {
        font-size: 0.639rem;
    }

    .curriculum .card-container .card .more-btn {
        font-size: 0.639rem;
    }

    .curriculum .slider-btn {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991.999px) {
    .curriculum {
        gap: 20px;
        padding: 40px 0;
        background-size: 100% auto;
    }

    .curriculum .card-container {
        flex-direction: column;
        align-items: center;
        gap: 12.3px;
        width: 100%;
    }

    .curriculum .card-container .card {
        gap: 22px;
        width: 92%;
        padding: 36px 81.59px;
    }

    .curriculum .slider-btn {
        display: none;
    }
}

/* Stories Section Styles */
.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75.44px;
    padding: 56.58px 20px;
    background-image: linear-gradient(0deg, rgba(254, 163, 1, 0.30), rgba(254, 163, 1, 0)),
                        url(../assets/bg.png);
    background-size: 100% auto;
}

.stories .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18.86px;
    max-width: 1093.88px;
}

.stories .card-container .card {
    border-radius: 15.088px;
    overflow: hidden;
    background-color: white;
}

.stories .card-container .card:first-of-type {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.stories .card-container .card-img {
    margin-bottom: 40.662px;
}

.stories .card-container .card-img img {
    width: 100%;
    vertical-align: middle;
}

.stories .card-container .card:first-of-type .card-img {
    margin-bottom: 58.004px;
}

.stories .card-container .card .card-content {
    padding: 0 36px 32.552px 20px;
    position: relative;
}

.stories .card-container .card .card-content time {
    display: block;
    position: absolute;
    top: -40.662px;
    left: 30px;
    transform: translateY(-50%);
    width: fit-content;
    padding: 5px 13.202px;
    border-radius: 45.202px;
    background-color: lightpink;
    color: #fff;
    font-size: 0.959rem;
    line-height: 1.875;
}

.stories .card-container .card:first-of-type .card-content time {
    top: -58.004px;
    padding: 7px 13.202px;
    background-color: #3CD8E8;
}

.stories .card-container .card:nth-of-type(2) .card-content time,
.stories .card-container .card:nth-of-type(4) .card-content time,
.stories .card-container .card:nth-of-type(5) .card-content time {
    background-color: #95B226;
}
.stories .card-container .card:nth-of-type(3) .card-content time {
    background-color: #5D58F0;
}

.stories .card-container .card .card-content .card-title {
    font-size: 0.959rem;
    line-height: 1.875;
}

.stories .card-container .card:first-of-type .card-content .card-title {
    margin-bottom: 48.819px;
    font-size: 1.5rem;
    line-height: 1.598;
}

.stories .card-container .card:first-of-type .card-content .card-description {
    color: var(--paragraph-txt-tertiary);
    font-size: 0.959rem;
    line-height: 1.875;
}

@media only screen and (max-width: 575.999px) {
    .stories {
        gap: 20px;
        padding: 40px 20px;
    }

    .stories .title {
        font-size: 1.625rem;
    }

    .stories .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .stories .card-container .card:first-of-type {
        display: none;
    }

    .stories .card-container .card-img {
        margin-bottom: 25px;
    }

    .stories .card-container .card .card-content time {
        top: -25px;
        font-size: 0.571rem;
    }

    .stories .card-container .card .card-content .card-title {
        font-size: 0.571rem;
    }

    .stories .all {
        padding: 0 37px;
        font-size: 1rem;
        line-height: 1.875;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991.999px) {
    .stories {
        gap: 20px;
        padding: 40px 20px;
    }

    .stories .card-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .stories .card-container .card:first-of-type {
        display: none;
    }

    .stories .card-container .card:last-of-type {
        grid-column: 2 / 3;
    }
}

/* Footer Styles */
footer {
    padding: 115.989px 20px 168.797px;
    background-color: #01ACFD;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1093.88px;
    margin: 0 auto;
}

footer .container .about {
    grid-column: 1 / 3;
}

footer .container .about .logo-container {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 33.335px;
}

footer .container .about .logo {
    width: 83px;
}

footer .container .about .logo img {
    width: 100%;
    vertical-align: middle;
}

footer .container .about .site-name {
    color: var(--heading-txt-secondary);
    font-size: 2.634rem;
    line-height: 93.75%;
}

footer .container .about .about-description {
    color: white;
    max-width: 376.276px;
    font-size: 1.25rem;
}

footer .container .info .title {
    margin-bottom: 30.176px;
    color: white;
    font-size: 1.5rem;
}

footer .container .info .info-links {
    display: flex;
    flex-direction: column;
    gap: 18.86px;
    list-style-type: none;
}

footer .container .info .info-links li a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

footer .container .social .title {
    margin-bottom: 30.176px;
    color: white;
    font-size: 1.5rem;
}

footer .container .social .icon-container {
    display: flex;
    gap: 9.571px;
}

footer .container .social .icon {
    width: 38.298px;
}

footer .container .social .icon img {
    width: 100%;
    vertical-align: middle;
}

@media only screen and (max-width: 575.999px) {
    footer {
        padding: 60px 20px;
    }

    footer .container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    footer .container .about {
        grid-column: 1 / 2;
    }

    footer .container .about .logo-container {
        margin-bottom: 23.88px;
    }

    footer .container .about .logo {
        width: 69px;
    }

    footer .container .about .site-name {
        font-size: 2.233rem;
    }

    footer .container .about .about-description {
        font-size: 1rem;
    }

    footer .container .info .title {
        margin-bottom: 27.57px;
        font-size: 1.272rem;
    }

    footer .container .info .info-links {
        gap: 17.15px;
    }

    footer .container .info .info-links li a {
        font-size: 1.063rem;
    }

    footer .container .social .title {
        margin-bottom: 37px;
        font-size: 1.272rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991.999px) {
    footer {
        padding: 60px 20px;
    }

    footer .container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        row-gap: 100px;
    }

    footer .container .about {
        grid-column: 1 / 3;
    }

    footer .container .about .logo-container {
        margin-bottom: 23.88px;
    }

    footer .container .about .logo {
        width: 69px;
    }

    footer .container .info .title {
        margin-bottom: 27.57px;
    }

    footer .container .info .info-links {
        gap: 17.15px;
    }

    footer .container .social {
        justify-self: center;
        grid-column: 2 / 3;
    }

    footer .container .social .title {
        margin-bottom: 37px;
    }
}